<div class="left">
	<h2>Enter the Meal Details</h2>

	<form name='myForm' ng-submit="nm.submit()" novalidate>
		<div><span class="detailsLeft">Base Meal Price: </span> <span class="detailsRight"> $ <input required type="number" min='1' ng-model="nm.basePrice"></span></div>
		<div><span class="detailsLeft">Tax Rate:</span><span class="detailsRight"> % <input required type="number" ng-model="nm.taxRate"></span></div>
		<div><span class="detailsLeft">Tip Percentage:</span><span class="detailsRight"> % <input required type="number" ng-model="nm.tipRate"></span></div>
		<div class="mealDetailsButtons">
			<!-- <a href="#/my-earnings"> -->
				<input class="button" type="submit" value="Submit">
			<!-- </a> -->
			
			<span class="button" ng-click="nm.cancel()">Cancel</span>
		</div>
	</form>
	
	<div>
		<h2>Customer Charges</h2>
		<div class="innerMargin">
			<div><span class='detailsLeft'>Subtotal</span><span class="detailsRight">{{ nm.subtotal | currency }}</span></div>
			<div><span class='detailsLeft'>Tip</span><span class="detailsRight">{{ nm.tip | currency }}</span></div>
			<div><span class='detailsLeft'>Total</span><span class='detailsRight'>{{ nm.total | currency }}</span></div>
		</div>
	</div>

</div>